
<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-custom-teal-700" >
    <div class="container-fluid">
      <a class="navbar-brand" href="/sign-in">Mi inventario 2023</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading1">Informacion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#carouselExampleCaptions">Proyectos</a>
          </li>
          
        </ul>
      </div>
      <div class="col-4 text-end">
        <button class="btn btn-primary" (click)="mostrarInfo('correo')">Mostrar Correo</button>
        <button class="btn btn-primary" (click)="mostrarInfo('github')">Mostrar GitHub</button>
      </div>
      <p id="email" [style.display]="mostrarCorreo ? 'block' : 'none'">l21650344@zitacuaro.tecnm.mx</p>
      <p id="github" [style.display]="mostrarGitHub ? 'block' : 'none'">GitHub: <a href="https://github.com/JonatanBarcenas" target="_blank">https://github.com/tuusuario</a></p>
      
    </div>
    
  </nav>

  
  <div data-bs-spy="scroll" data-bs-target="navbar" data-bs-offset="0" class="scrollspy-example" tabindex="0">
    
    <img id="imagen" src="https://fondosmil.com/fondo/11760.jpg" style="width: 1000px; height: 300px; padding-left: 25%; padding-top: 1%;">
    <h1 class="display-1 text-center" style="padding: 5%;">JONATAN ISAI BARCENAS VELAZQUEZ</h1>

    <div class="text-center text">
      <h3 id="scrollspyHeading1">INFORMACIÓN BASICA</h3>
      <p class="lead">Soy un apasionado estudiante de ingeniería en sistemas computacionales en el Instituto Tecnológico de Zitácuaro, actualmente cursando el quinto semestre. Mi profundo interés en el mundo de la programación y la resolución de problemas me ha llevado a enfocarme especialmente en el desarrollo backend. Poseo una firme comprensión de los fundamentos de la programación y la arquitectura de software, así como un deseo innato de crear soluciones tecnológicas que marquen la diferencia.</p>
    </div>
    
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="C:\Users\jonat\OneDrive\Documentos\GitHub\ANG7_Jonatan_Barcenas\01_AngularMaterialComponents\E1\ANG7_Jonatan_Barcenas-b143022a8345f1f9c0c3bb56932bde0725f36f83\GymManagerFront\src\assets\img\Captura de pantalla 2023-09-01 183831.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="C:\Users\jonat\OneDrive\Documentos\GitHub\ANG7_Jonatan_Barcenas\01_AngularMaterialComponents\E1\ANG7_Jonatan_Barcenas-b143022a8345f1f9c0c3bb56932bde0725f36f83\GymManagerFront\src\assets\img\Captura de pantalla 2023-09-01 183947.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    

  </div>

  